.site-background-color {
    background: #E4E4E4;
    /*background: rgb(64,196,255);*/
}
.site-background-image {
    background-image: url("../images/background-image.jpg");
    height: 100%;
}
.dropdown-area {
    width: 300px;
}
.map-label-area {
    width: 100%;
    margin-bottom: 34px;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; 
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; 
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}
.sign-card-area {
    width: 100%;
}
.table-area {
    width: 100%;
}
.dropdown-list {
     width:190px;
}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}
.navbar-colors {
    /*border: rgb(33,150,243); */
    color: rgb(33,150,243); 
}
/*.navbar-colors:hover {
    background: rgb(33,150,243); 
    color: rgb(250,250,250) !important;
}*/
.list-set {
    margin: 0px;
}