<script src="../signin/signin.ctr.js"></script>

<div layout="row">
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Login in to App</h1>
                    <md-divider></md-divider>
                </md-content>
                <md-input-container>
                    <label>User Name</label>
                    <input type="text" ng-model="username" required>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="password" required>
                </md-input-container>
                <md-content>
                    <md-button class="md-primary" ng-click="vm.login(username, password)">Login</md-button>
                    <md-button class="md-accent" ui-sref="signin">Sign In</md-button>
                </md-content>
                <p ui-sref="/" class="link-text" align="center">Forgot Password</p>
                <!--<md-content class="md-padding signin-card-color">
                    <md-button class="signin-button md-primary signin-button-text" ng-click="vm.signin()">
                            <img align="middle" class="signin-button-img" src="../../images/google-icon.png" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""/>
                            <span>Sign in with Google</span>
                            <span flex></span>
                    </md-button>
                    <md-button class="signin-button md-primary signin-button-text">
                            <img align="middle" class="signin-button-img" src="../../images/github-icon.png" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""/>
                            <span>Sign in with GitHub</span>
                            <span flex></span>
                    </md-button>
                </md-content>-->
            </center>
        </md-content>
    </md-card>
    <!--<p ui-sref="/" class="link-text" align="center">Back to <span class="text-theme-blue">Home</span></p>-->
  </div>
</div>