<!--Menu-->
<!--Show if user not login-->
<div layout="row" ng-if="vm.gettingName.length == 0">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><md-button ui-sref="home" class="navbar-colors">Home</md-button></td>
                        <td><md-button ui-sref="auth">Login</md-button></td>
                        <td><md-button ui-sref="signup">SignUp</md-button></td>
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Show if user login-->
<div layout="row" ng-if="vm.gettingName.length != 0">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><md-button ui-sref="home" class="navbar-colors">Home</md-button></td>
                        <td><md-button ui-sref="managingjobs">Manage Jobs</md-button></td>
                        <td><md-button ng-click="vm.logout()" ui-sref="auth" >Logout</md-button></td>
                        <td>{{vm.gettingName}}</td>
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Content-->
<div layout="row">
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Welcome to D4D</h1>
                    <md-divider></md-divider>
                </md-content>
            </center>
        </md-content>
    </md-card>
  </div>
</div>