<!--Menu-->
<div layout="row">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><a ui-sref="home">Home</a></td>
                        <td><a ui-sref="managingjobs">Manage Jobs</a></td>
                        <td><a ng-click="vm.logout()" ui-sref="auth" >Logout</a></td>
                        <!--<td><a ui-sref="profile">Profile</a></td>-->
                        <td>{{vm.gettingName}}</td>
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Content-->
<div layout="row">
    <div class="signin-card sign-card-area">
        <md-card class="md-primary">
            <md-content class="md-padding signin-card-color">
                <center>
                    <md-content class="md-padding signin-card-color">
                        <h1 class="md-display-1 h1-text-white">Manage Your Jobs</h1>
                        <md-divider></md-divider>
                    </md-content>
                </center>
                <md-content ng-if="vm.getCategory == 0">
                    <md-button class="md-accent" ui-sref="createjob">Create a New Job</md-button>
                </md-content>
            </md-content>
            <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="d4d">
                <md-content>
                    <md-tabs md-dynamic-height="" md-border-bottom="">
                        <md-tab label="Processing Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requester's ID</th>
                                        <th>Name</th>
                                        <th>Area</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.processingJobsArray">
                                        <td>{{singleRow.Job_ID}}</td>
                                        <td>{{singleRow.Requester_ID}}</td>
                                        <td>{{singleRow.Name}}</td>
                                        <td>{{singleRow.Area}}</td>
                                        <td><a href="index.html#/managingjobs/viewjob/{{singleRow.Job_ID}}/1">view</a></td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Analysing Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requester's ID</th>
                                        <th>Name</th>
                                        <th>Area</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.analysingJobsArray">
                                        <td>{{singleRow.Job_ID}}</td>
                                        <td>{{singleRow.Requester_ID}}</td>
                                        <td>{{singleRow.Name}}</td>
                                        <td>{{singleRow.Area}}</td>
                                        <td><a href="index.html#/managingjobs/viewjob/{{singleRow.Job_ID}}/2">view</a></td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Completed Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requester's ID</th>
                                        <th>Name</th>
                                        <th>Area</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.completedJobsArray">
                                        <td>{{singleRow.Job_ID}}</td>
                                        <td>{{singleRow.Requester_ID}}</td>
                                        <td>{{singleRow.Name}}</td>
                                        <td>{{singleRow.Area}}</td>
                                        <td><a href="index.html#/managingjobs/viewjob/{{singleRow.Job_ID}}/3">view</a></td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-card>
    </div>
</div>


<!--<div layout="row" layout-wrap>
<div flex="none">
    [flex="none"]
</div>
<div flex>
    [flex]
</div>
<div flex="nogrow">
[flex="nogrow"]
</div>
<div flex="grow">
    [flex="grow"]
</div>
<div flex="initial">
    [flex="initial"]
</div>
<div flex="auto">
    [flex="auto"]
</div>
<div flex="noshrink">
    [flex="noshrink"]
</div>
<div flex="0">
    [flex="0"]
</div>
</div>-->