<!--Menu-->
<div layout="row">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><md-button ui-sref="home">Home</md-button></td>
                        <td><md-button ui-sref="managingjobs" class="navbar-colors">Manage Jobs</md-button></td>
                        <td><md-button ng-click="vm.logout()" ui-sref="auth" >Logout</md-button></td>
                        <!--<td><a ui-sref="profile">Profile</a></td>-->
                        <td>{{vm.user_email}}</td>
                        <!--<td>{{vm.gettingName}}</td>-->
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Content-->
<div layout="row">
    <div class="signin-card sign-card-area">
        <md-card class="md-primary">
            <md-content class="md-padding signin-card-color">
                <center>
                    <md-content class="md-padding signin-card-color">
                        <h1 class="md-display-1 h1-text-white">Manage Your Jobs</h1>
                        <md-divider></md-divider>
                    </md-content>
                </center>
                <md-content ng-if="vm.getCategory == 'phi'">
                    <md-button class="md-accent" ng-click="vm.gotoCreateJob()">Create a New Job</md-button>
                </md-content>
            </md-content>
            <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="d4d">
                <md-content>
                    <md-tabs md-dynamic-height="" md-border-bottom="">
                        <md-tab label="Processing Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requesting Type</th>
                                        <th>Capturing Start Date</th>
                                        <th>Capturing End Date</th>
                                        <th>Requester</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.processingJobsArray">
                                        <td>{{singleRow.jobid}}</td>
                                        <td>
                                            <span ng-if="singleRow.requesting_type == '0'">Dengue Monitoring</span>
                                            <span ng-if="singleRow.requesting_type == '1'">Other</span>
                                        </td>
                                        <td>{{singleRow.capturing_start_date}}</td>
                                        <td>{{singleRow.capturing_end_date}}</td>
                                        <td>{{singleRow.requester}}</td>
                                        <td>
                                            <a href="#/managingjobs/{{vm.user_id}}/viewjob/{{singleRow.jobid}}/001/{{vm.getCategory}}">
                                                view
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Analysing Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requesting Type</th>
                                        <th>Capturing Start Date</th>
                                        <th>Capturing End Date</th>
                                        <th>Requester</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.analysingJobsArray">
                                        <td>{{singleRow.jobid}}</td>
                                        <td>
                                            <span ng-if="singleRow.requesting_type == '0'">Dengue Monitoring</span>
                                            <span ng-if="singleRow.requesting_type == '1'">Other</span>
                                        </td>
                                        <td>{{singleRow.capturing_start_date}}</td>
                                        <td>{{singleRow.capturing_end_date}}</td>
                                        <td>{{singleRow.requester}}</td>
                                        <td>
                                            <a href="#/managingjobs/{{vm.user_id}}/viewjob/{{singleRow.jobid}}/002/{{vm.getCategory}}">
                                                view
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                        <md-tab label="Completed Jobs">
                            <md-content class="md-padding">
                                <table class="table-area">
                                    <tr>
                                        <th>Job ID</th>
                                        <th>Requesting Type</th>
                                        <th>Capturing Start Date</th>
                                        <th>Capturing End Date</th>
                                        <th>Requester</th>
                                        <th>View Job</th>
                                    </tr>
                                    <tr ng-repeat="singleRow in vm.completedJobsArray">
                                        <td>{{singleRow.jobid}}</td>
                                        <td>
                                            <span ng-if="singleRow.requesting_type == '0'">Dengue Monitoring</span>
                                            <span ng-if="singleRow.requesting_type == '1'">Other</span>
                                        </td>
                                        <td>{{singleRow.capturing_start_date}}</td>
                                        <td>{{singleRow.capturing_end_date}}</td>
                                        <td>{{singleRow.requester}}</td>
                                        <td>
                                            <a href="#/managingjobs/{{vm.user_id}}/viewjob/{{singleRow.jobid}}/003/{{vm.getCategory}}">
                                                view
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </md-card>
    </div>
</div>


<!--<div layout="row" layout-wrap>
<div flex="none">
    [flex="none"]
</div>
<div flex>
    [flex]
</div>
<div flex="nogrow">
[flex="nogrow"]
</div>
<div flex="grow">
    [flex="grow"]
</div>
<div flex="initial">
    [flex="initial"]
</div>
<div flex="auto">
    [flex="auto"]
</div>
<div flex="noshrink">
    [flex="noshrink"]
</div>
<div flex="0">
    [flex="0"]
</div>
</div>-->