<script src="../managingjobs/managingjobs.ctr.js"></script>

<div layout="row">
    <div class="signin-card">
        <md-card class="md-primary">
            <md-content class="md-padding signin-card-color">
                <center>
                    <md-content class="md-padding signin-card-color">
                        <h1 class="md-display-1 h1-text-white">Manage Your Jobs</h1>
                        <md-divider></md-divider>
                    </md-content>
                </center>
            </md-content>
            <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
                <md-content>
                    <md-tabs md-dynamic-height="" md-border-bottom="">
                      <md-tab label="Processing Jobs">
                        <md-content class="md-padding">
                          <h1 class="md-display-2">Tab 1</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                          <!--<div layout="row" layout-wrap>
                            <div flex="none">
                                [flex="none"]
                            </div>
                            <div flex>
                                [flex]
                            </div>
                            <div flex="nogrow">
                            [flex="nogrow"]
                            </div>
                            <div flex="grow">
                                [flex="grow"]
                            </div>
                            <div flex="initial">
                                [flex="initial"]
                            </div>
                            <div flex="auto">
                                [flex="auto"]
                            </div>
                            <div flex="noshrink">
                                [flex="noshrink"]
                            </div>
                            <div flex="0">
                                [flex="0"]
                            </div>
                          </div>-->
                        </md-content>
                      </md-tab>
                      <md-tab label="Analysing Jobs">
                        <md-content class="md-padding">
                          <h1 class="md-display-2">Tab 2</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                      </md-tab>
                      <md-tab label="Completed Jobs">
                        <md-content class="md-padding">
                          <h1 class="md-display-2">Tab 3</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                      </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <!--<div layout="row" layout-wrap>
                <div flex="none">
                    [flex="none"]
                </div>
                <div flex>
                    [flex]
                </div>
                <div flex="nogrow">
                [flex="nogrow"]
                </div>
                <div flex="grow">
                    [flex="grow"]
                </div>
                <div flex="initial">
                    [flex="initial"]
                </div>
                <div flex="auto">
                    [flex="auto"]
                </div>
                <div flex="noshrink">
                    [flex="noshrink"]
                </div>
                <div flex="0">
                    [flex="0"]
                </div>
            </div>-->
        </md-card>
    </div>
</div>