<div layout="row">
  <div class="signin-card sign-card-area">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Create a Job</h1>
                    <md-divider></md-divider>
                </md-content>
                
                <md-input-container class="dropdown-area" style="width: 50%;">
                    <label>Requesting Type</label>
                    <md-select ng-model="selectedValue" ng-change="vm.saveSelectedValue(selectedValue)" required>
                          <md-option ng-repeat="singleRequest in vm.requestingTypeList" value="{{singleRequest}}">{{singleRequest}}</md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container style="width: 50%;">
                    <label>Capturing Date</label>
                    <input type="date" ng-model="capturing_date" required>
                </md-input-container>
                
                <md-input-container class="map-label-area">
                    <label>Capturing Area</label>
                </md-input-container>
                <ng-map default-style="true" zoom="9" center="6.9271, 79.8612">
                </ng-map>
                
                <md-content>
                    <md-button class="md-accent" ng-click="vm.sendData(selectedValue, capturing_date)">Send</md-button>
                </md-content>
            </center>
        </md-content>
    </md-card>
  </div>
</div>