<!--Menu-->
<div layout="row">
  <div class="signin-card">
    <md-card class="md-primary">
        <md-content class="md-padding">
            <nav class="navbar navbar-inverse" role="navigation">
                <table>
                    <tr>
                        <td><md-button ui-sref="home">Home</md-button></td>
                        <td><md-button ui-sref="managingjobs" class="navbar-colors">Manage Jobs</md-button></td>
                        <td><md-button ng-click="vm.logout()" ui-sref="auth" >Logout</md-button></td>
                        <td>{{vm.user_email}}</td>
                    </tr>
                </table>
            </nav>
        </md-content>
    </md-card>
  </div>
</div>
<!--Content-->
<!--Processing Jobs-->
<div layout="row" ng-if="vm.tab_number === '001'">
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Job {{vm.job_id}} Details</h1>
                    <md-divider></md-divider>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Job ID</h3>
                                <h4>{{vm.job_id}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Latitude</h3>
                                <h4>{{vm.latitude}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Longitude</h3>
                                <h4>{{vm.longitude}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Request Type</h3>
                                <h4>{{vm.requesting_type}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Capturing Date</h3>
                                <h4>{{vm.capturing_date}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Requester</h3>
                                <h4>{{vm.requester}}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content>
                    <md-button class="md-accent" ng-click="vm.confirmRequest()" 
                               ng-if="vm.getCategory == 'pilot'">Confirm</md-button>
                    <md-button class="md-accent" ng-click="vm.gotoManageJob()">Back</md-button>
                </md-content>
            </center>
        </md-content>
    </md-card>
  </div>
</div>

<!--Analysing Jobs-->
<div layout="row" ng-if="vm.tab_number === '002'">
  <div class="signin-card sign-card-area">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Analysing Job {{vm.job_id}}</h1>
                    <md-divider></md-divider>
                </md-content>
                <md-content>
                    <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="d4d">
                        <md-content>
                            
                            <!--Pilot View-->
                            <md-tabs md-dynamic-height="" md-border-bottom="" ng-if="vm.category_id == 'pilot'">
                                <md-tab label="Upload Images">
                                    <md-content class="md-padding">
                                        <div class="fb-image-upload">
                                            <form>
                                                <div class="fb-error" ng-show="error">{{vm.error}}</div>
                                                <div class="fb-inputs" ng-hide="image.isUploading">
                                                    <input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
                                                    <input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid" ng-click="vm.imageUpload(image)"/>
                                                </div>
                                                <div class="fb-uploading" ng-show="image.isUploading">
                                                    Uploading...
                                                </div>
                                            </form>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Images">
                                    <md-content class="md-padding">
                                        <span ng-repeat="singleImage in vm.imageList">
                                            <img src="{{singleImage['url']}}" style="width: 700px;">
                                            <md-content>
                                                <md-button class="md-accent" ng-click="vm.deleteImage(singleImage)">Delete</md-button>
                                            </md-content>
                                            <hr/>
                                        </span>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                            
                            <!--PHI View-->
                            <md-content class="md-padding" ng-if="vm.category_id == 'phi'">
                                <span ng-repeat="singleImage in vm.imageList">
                                    <img src="{{singleImage['url']}}" style="width: 700px;">
                                    <md-content>
                                        <md-button class="md-accent" ng-click="vm.confirm(singleImage)" ng-if="singleImage.confirmed == 0">
                                            Confirm
                                        </md-button>
                                        <div class="md-accent" ng-if="singleImage.confirmed == 1">Confirmed</div>
                                    </md-content>
                                    <hr/>
                                </span>
                            </md-content>
                            
                        </md-content>
                    </div>
                </md-content>
                
                <md-content ng-if="vm.imageList.length > 0">
                    <md-button class="md-accent" ng-if="vm.category_id == 'phi'" ng-click="vm.completeAnalysing()">Analysing Completed</md-button>
                    <md-button class="md-accent" ng-click="vm.gotoManageJob()">Back</md-button>
                </md-content>
                
                <md-content ng-if="vm.imageList.length == 0">
                    <div class="md-accent">No Images to Show</div>
                    <md-button class="md-accent" ng-click="vm.gotoManageJob()">Back</md-button>
                </md-content>
                
            </center>
        </md-content>
    </md-card>
  </div>
</div>

<!--Completed Jobs-->
<div layout="row" ng-if="vm.tab_number === '003'">
  <div flex="33" class="signin-card" flex-offset="33">
    <md-card class="md-primary">
        <md-content class="md-padding signin-card-color">
            <center>
                <md-content class="md-padding signin-card-color">
                    <h1 class="md-display-1 h1-text-white">Job {{vm.job_id}} Details</h1>
                    <md-divider></md-divider>
                </md-content>
                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Job ID</h3>
                                <h4>{{vm.job_id}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Latitude</h3>
                                <h4>{{vm.latitude}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Longitude</h3>
                                <h4>{{vm.longitude}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Request Type</h3>
                                <h4>{{vm.requesting_type}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Capturing Date</h3>
                                <h4>{{vm.capturing_date}}</h4>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                <h3>Requester</h3>
                                <h4>{{vm.requester}}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-content class="md-padding">
                    <span ng-repeat="singleImage in vm.imageList">
                        <img src="{{singleImage['url']}}" style="width: 250px;" ng-if="singleImage.confirmed == 1">
                    </span>
                </md-content>
                <md-content>
                    <md-button class="md-accent" ng-click="vm.gotoManageJob()">Back</md-button>
                </md-content>
            </center>
        </md-content>
    </md-card>
  </div>
</div>